*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.re-rfm .r_mr-6 {
  margin-right: 1.5rem;
}

.re-rfm .r_mt-2 {
  margin-top: 0.5rem;
}

.re-rfm .r_mr-2 {
  margin-right: 0.5rem;
}

.re-rfm .r_flex {
  display: flex;
}

.re-rfm .r_grid {
  display: grid;
}

.re-rfm .r_w-full {
  width: 100%;
}

.re-rfm .r_items-start {
  align-items: flex-start;
}

.re-rfm .r_items-center {
  align-items: center;
}

.re-rfm .r_justify-between {
  justify-content: space-between;
}

.re-rfm .r_gap-\[40px\] {
  gap: 40px;
}

.re-rfm .r_text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.re-rfm .r_line-through {
  text-decoration-line: line-through;
}

.re_heading {
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.re_paragraph {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 40px;
}

.re_food {
  margin-bottom: 30px;
}

.re_food-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}

.re_food-title::after {
  content: '';
  width: 100%;
  display: inline-block;
  border-bottom: 2px dotted lightgray;
  position: absolute;
  bottom: 7px;
  transform: translate(4px, 0px);
}

.re_food-description {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.re_food-additional-info {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
}

.re_food-price {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 2px;
  text-align: right;
}

/* food image */

.re_food-image {
  -o-object-fit: cover;
     object-fit: cover;
}

/* shape */

.re_food-image.re_food-image-circle {
  border-radius: 999px;
}

.re_food-image.re_food-image-rounded {
  border-radius: 5px;
}

.re_food-image.re_food-image-squared {
  border-radius: 0;
}

/* size */

.re_food-image.re_food-image-normal {
  width: 50px;
  height: 50px;
}

.re_food-image.re_food-image-large {
  width: 70px;
  height: 70px;
}

@media (min-width: 959px) {
  .re-rfm .min-\[959px\]\:r_grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .re-rfm .min-\[959px\]\:r_grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
